<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PICO_L3_Downtime_Monitoring_System.My.MySettings.PICO_Downtime_Monitoring_SystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\PICO Downtime Monitoring System.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfpicodown"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="3A_PreMelt_Stat" value="0" />
		<add key="3A_CLI_Stat" value="0" />
		<add key="3A_Glassing_Stat" value="0" />
		<add key="3A_Picosine_Stat" value="0" />
		<add key="3A_PinTray_Stat" value="0" />
		<add key="3A_1stHeat_Stat" value="0" />
		<add key="3A_Turning_Stat" value="0" />
		<add key="3A_2ndHeat_Stat" value="0" />
		<add key="3A_Trimming_Stat" value="0" />

		<add key="3B_PreMelt_Stat" value="0" />
		<add key="3B_CLI_Stat" value="0" />
		<add key="3B_Glassing_Stat" value="0" />
		<add key="3B_Picosine_Stat" value="0" />
		<add key="3B_PinTray_Stat" value="0" />
		<add key="3B_1stHeat_Stat" value="0" />
		<add key="3B_Turning_Stat" value="0" />
		<add key="3B_2ndHeat_Stat" value="0" />
		<add key="3B_Trimming_Stat" value="0" />
	</appSettings>
</configuration>