<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PICO_L3_Downtime_Monitoring_System.My.MySettings.PICO_Downtime_Monitoring_SystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\PICO Downtime Monitoring System.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfpicodown"
            providerName="System.Data.OleDb" />
        <add name="PICO_L3_Downtime_Monitoring_System.My.MySettings.MyServer"
            connectionString="Data Source=BTGCATAP5Y3JDK3;Initial Catalog=&quot;PICO Diagonal&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PICO_L3_Downtime_Monitoring_System.My.MySettings.SQL_Server"
            connectionString="Data Source=BTMESSQLPROD;Initial Catalog=LFPHPICO;Persist Security Info=True;User ID=MESACCOUNT;Password=superfuse;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PICO_L3_Downtime_Monitoring_System.My.MySettings.SWMaster_dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\SWMaster_db.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfswmaster"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="3A_PreMelt_Stat" value="0" />
		<add key="3A_CLI_Stat" value="0" />
		<add key="3A_Glassing_Stat" value="0" />
		<add key="3A_Picosine_Stat" value="0" />
		<add key="3A_PinTray_Stat" value="0" />
		<add key="3A_1stHeat_Stat" value="0" />
		<add key="3A_Turning_Stat" value="0" />
		<add key="3A_2ndHeat_Stat" value="0" />
		<add key="3A_Trimming_Stat" value="0" />

		<add key="3B_PreMelt_Stat" value="0" />
		<add key="3B_CLI_Stat" value="0" />
		<add key="3B_Glassing_Stat" value="0" />
		<add key="3B_Picosine_Stat" value="0" />
		<add key="3B_PinTray_Stat" value="0" />
		<add key="3B_1stHeat_Stat" value="0" />
		<add key="3B_Turning_Stat" value="0" />
		<add key="3B_2ndHeat_Stat" value="0" />
		<add key="3B_Trimming_Stat" value="0" />

		<add key="WC_L3_Stat" value="0" />
		<add key="WC_L5_Stat" value="0" />

		<add key="1hr_Stat" value="False" />
		<add key="2hr_Stat" value="False" />
		<add key="3hr_Stat" value="False" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>